<style type="text/css">
    #book-intro {
        margin-top: 26px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #book-intro .part-text {
        flex: 1 1;
    }

    #book-intro .part-cover {
        padding-left: 15px;
        flex: 0 0 160px;
        font-size: 13px;
        text-align: center;
    }
</style>
<div id="book-intro">
    <div class="part-text">
        <div class="paragraph" style="padding: 0; margin: 0;">
            <p>
                欢迎访问<strong>《Python 工匠：案例、技巧与工程实践》 </strong>的首页，我是图书作者 piglei。
            </p>
        </div>

        <div class="paragraph">
            <p>
                《Python 工匠》是一本以 Python 进阶编程为主题的技术图书。纸质书由人民邮电出版社于 2022 年出版，本站提供了书中部分有代表性的章节，供读者试读。
            </p>
        </div>

        <div class="paragraph">
            <p>
                与其他同类图书相比，《Python 工匠》有着以下突出特色：
            </p>
        </div>

        <div class="ulist">
            <ul>
                <li>专注于基础编程素养与 Python 高级技巧的结合。</li>
                <li>内容深入 Python 语言内核，不浮于表面。</li>
                <li>知识点都由作者精心挑选过，而非罗列官方文档</li>
                <li>通过有趣的“案例故事”表达有用的编程理念。</li>
            </ul>
        </div>
    </div>

    <div class="part-cover">
        <div class="content">
            <img src="_images/3d_cover_white_bg.png" alt="3d cover white bg" with="160px" height="160px">
        </div>

        <div class="paragraph">
            <a href="https://item.jd.com/13068111.html" target="_blank">点击购买</a> |
            <a href="https://book.douban.com/subject/35723705" target="_blank">豆瓣书评</a>
        </div>
    </div>
</div>