<footer class="footer">
  <p>
      写作本书使用了 <a href="https://asciidoctor.org/">Asciidoctor</a> 工具，
      网站由 <a href="https://antora.org" target="_blank">Antora</a> 生成。
  </p>
  <p>
  &copy; 2021 by piglei.
  </p>
</footer>

<!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
<script>
(function(f, a, t, h, o, m){
  a[h]=a[h]||function(){
    (a[h].q=a[h].q||[]).push(arguments)
  };
  o=f.createElement('script'),
  m=f.getElementsByTagName('script')[0];
  o.async=1; o.src=t; o.id='fathom-script';
  m.parentNode.insertBefore(o,m)
})(document, window, '//fathom.piglei.com/tracker.js', 'fathom');
fathom('set', 'siteId', 'VGDIX');
fathom('trackPageview');
</script>
<!-- / Fathom -->
