<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="/book/">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="/book/">首页</a>
        <a class="navbar-item" href="//github.com/piglei/one-python-craftsman">GitHub</a>
      </div>
    </div>
  </nav>
</header>
