@import "./fonts/font.css";

/* General Setting */

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  color: #333;
}

h3 {}

#book_content h2 {}

h4 {
  font-size: 16px;
}

body {}

html,
body,
address,
blockquote,
div,
dl,
form,
ol,
pre,
table,
ul,
dd,
dt,
li,
tbody,
td,
tfoot,
th,
thead,
tr,
button,
del,
ins,
map,
object,
a,
abbr,
acronym,
b,
bdo,
big,
br,
cite,
code,
dfn,
em,
i,
img,
kbd,
q,
samp,
small,
span,
strong,
sub,
sup,
tt,
var,
legend,
fieldset {
  margin: 0;
  padding: 0;
}

input,
textarea {
  -webkit-appearance: none;
}

img,
fieldset {
  border: 0;
  line-height: 0;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

a:hover {
  color: #3eaf7c;
  text-decoration: underline;
}

p,
div {
  word-break: break-word;
}

.font12 {
  font-size: 12px;
}

.font13 {
  font-size: 13px;
}

.font14 {
  font-size: 14px;
}

.font16 {
  font-size: 16px;
}

.font18 {
  font-size: 18px;
}

.font20 {
  font-size: 20px;
}

.highlight {
  color: #FDA729;
}

.gray {
  color: #bbb;
}

.right {
  float: right;
}

.dark {
  color: #888;
}

.grey {
  color: #333;
}

.tuna {
  background-color: #313541
}

.charade {
  background-color: #282C37;
}


/* Small screens (default) */

html {}


/* Large screens (1024px) */

@media (min-width: 64rem) {
  html {}
}


/* Grid */


/* Ditto */

body {
  color: #525252;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

#book_sidebar {
  margin-top: 0;
  padding-left: 50px;
  padding-bottom: 25px;
  padding-top: 75px;
  box-shadow: 0 0 0px 1px #ececec;
}

#book_sidebar h1 a:link,
#book_sidebar h1 a:visited {
  color: #333;
}

#book_sidebar h5 {
  margin-top: 20px;
  margin-bottom: 0;
}

#book_sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#book_sidebar ol {
  margin: 0;
  padding-left: 30px;
  padding-top: 0;
}

#book_sidebar ul li,
#book_sidebar ol li {
  padding: 2px 0;
  line-height: 2.2;
  margin-left: 20px;
}

#book_sidebar>ul>li {
  margin-left: 0;
}

#book_sidebar ul li a,
#book_sidebar ol li a {
  display: block;
}

#book_content {
  padding-top: 50px;
  padding-bottom: 100px;
  font-size: 15px;
  padding-right: 25px;
  line-height: 2;
  counter-reset: section;
}

@media (max-width: 40rem) {
  #book_content {
    max-width: 800px;
    padding-left: 25px;
  }
}

#book_content pre {
  margin-left: auto;
  margin-right: auto;
  line-height: 1.2;
  background-color: #F7F7F7;
  border-radius: 2px;
  padding: 15px;
}

#book_content code {
  /* color: #8BD100; */
  font-size: 14px;
  font-weight: normal;
  line-height: 2.2;
  border-radius: 2px;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

#book_content p>code,
#book_content li>code,
#book_content h2>code,
#book_content h3>code {
  color: #F66B4E;
  background: #FFF2EF;
  padding: 0px 5px;
  margin: 0 3px;
}

#book_content h1 {
  font-size: 2em;
}

#book_content h2 {
  margin-top: 20px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 0px;
  text-align: left;
}

#book_content h3 {
  margin-top: 30px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 0px;
  text-align: left;
}

#book_content img {
  max-width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 5px;
}

#book_content ul {
  display: block;
  list-style-type: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#book_content ol {
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#book_content ul li:before {
  content: "-";
  position: relative;
  left: -5px;
  color: #CD4064;
}

#book_content ul li,
#book_content ol li {
}

#book_content ul li.link,
#book_content ol li.link {
  color: #2980b9;
  text-decoration: none;
  font-size: 0.7rem;
  font-weight: bold;
  cursor: pointer;
}

#book_content a:link,
#book_content a:visited {
  color: #3eaf7c;
}

#book_content .content-toc {
  background: #bdc3c7;
  border-radius: 5px;
}

#book_content table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all
}

#book_content table th {
  font-weight: bold
}

#book_content table th,
#book_content table td {
  padding: 6px 13px;
  border: 1px solid #ddd
}

#book_content table tr {
  background-color: #fff;
  border-top: 1px solid #ccc
}

#book_content table tr:nth-child(2n) {
  background-color: #f8f8f8
}

#book_content em {
  color: #3eaf7c;
  font-style: normal;
}

#book_content strong {
  color: #3eaf7c;
  font-weight: 500;
}

#book_sidebar a.selected {
  color: #3eaf7c;
}

blockquote {
  color: #8B8B8B;
  font-style: italic;
}

#back_to_top {
  display: none;
  position: fixed;
  height: 20px;
  width: 70px;
  top: 20px;
  margin-left: 930px;
  margin-top: 0px;
  color: #FFF;
  line-height: 20px;
  text-align: center;
  font-size: 10px;
  border-radius: 5px;
  background-color: #AAA;
}

#back_to_top:hover {
  background-color: #444;
  cursor: pointer;
}

#edit {
  display: none;
  position: fixed;
  height: 17px;
  width: 70px;
  top: 45px;
  margin-left: 930px;
  margin-top: 0px;
  color: #FFF;
  line-height: 17px;
  text-align: center;
  font-size: 10px;
  border-radius: 5px;
  background-color: #AAA;
}

#edit:hover {
  background-color: #444;
  cursor: pointer;
}

#loading,
#error {
  display: none;
  position: fixed;
  top: 0;
  height: 17px;
  font-size: 14px;
}

#flip {
  position: fixed;
  height: 20px;
  width: 100%;
  bottom: 10px;
  font-size: 10px;
  text-align: center;
}

#pageup,
#pagedown {
  height: 20px;
  width: 70px;
  display: inline-block;
  border-radius: 5px;
  background-color: #AAA;
  text-align: center;
  line-height: 20px;
  color: #FFF;
}

#pageup {
  margin-right: 5px;
}

#pageup:hover,
#pagedown:hover {
  background-color: #444;
  cursor: pointer;
}

#pagedown {
  margin-left: 5px;
}

@media (min-width: 40rem) {
  #book_sidebar {
    width: 280px;
    position: fixed;
    top: 0;
    bottom: 0;
    padding-bottom: 50px;
    padding-top: 100px;
    overflow: auto;
  }
  #book_content {
    max-width: 800px;
    padding-left: 330px;
    margin: 0 auto;
  }
  #flip {
    margin-left: 545px;
    width: 150px;
  }
  #loading,
  #error {
    display: none;
    position: fixed;
    height: 17px;
    top: 45%;
    margin-left: 560px;
    font-size: 14px;
  }
}

#book_header {
  height: 60px;
  background: rgba(255, 255, 255, 0.78);
  position: fixed;
  z-index: 2;
  width: 100%;
}

#book_header .title {
  margin: 0 50px;
  line-height: 60px;
  display: inline-block;
  cursor: pointer;
}

.anthor {
  position: relative;
  margin-left: 8px;
  display: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4 {
  position: relative;
}

h1:hover .anthor,
h2:hover .anthor,
h3:hover .anthor,
h4:hover .anthor {
  display: inline-block;
}

.book-footer i {
  font-size: 80%;
  vertical-align: baseline;
}

a.book-footer-next-link {
  float: right;
}

.book-backtop {
  position: fixed;
  height: 50px;
  width: 50px;
  bottom: 40px;
  right: 50px;
  text-align: center;
  z-index: 2;
  font-size: 26px;
  opacity: .4;
  transition: .2s;
  padding: 6px 0;
  background: #8888881f;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}
.book-backtop:hover {
  opacity: 1;
  color: #3eaf7c;
}

.book-header-github {
  float: right;
  font-size: 26px;
  margin: 10px 30px;
}

.book-footer {
  margin-top: 50px;
}

.book-tip {
  background-color: #f3f5f7;
  border-color: #42b983;
}

.book-warning{
  background-color: rgba(255,229,100,.3);
  border-color: #e7c000;
  color: #6b5900;
}

.book-danger{
  background-color: #ffe6e6;
  border-color: #c00;
  color: #4d0000;
}

.book-tip,.book-warning,.book-danger {
  padding: 20px;
  border-left-width: .5rem;
  border-left-style: solid;
  font-size: 16px;
  margin: 1rem 0;
}

.book-content-loading {
  top: 50%;
  position: absolute;
  left: 50%;
  font-size: 30px;
  margin-top: -20px;
  margin-left: -10px;
}